# JavaScript snippets

snippet ff "arrow function" i
${1:(${2:x})} => ${3:{${VISUAL}$4}}
endsnippet

snippet ffe "arrow function evaluation"
(${1:(${2:x})} => ${3:{${VISUAL}$4}})()
endsnippet

snippet fun* "generator function"
function* ${1:foo}($2) {
	${VISUAL}$0
}
endsnippet

snippet for "for of" b
for (let ${1:x} of ${2:iterator}) {
	${VISUAL}$0
}
endsnippet

# vim:ft=snippets:
