# React snippets

snippet comp "react component" b
const ${1:Component} = React.createClass({
	render() {
		return (
			${VISUAL}$0
		);
	}

	getInitialState() {
		return {};
	}

	componentDidMount() {
	}
});
endsnippet

# vim:ft=snippets:
